<section class="text-gray-700 body-font">
  <a href="#" class="invisible" name="play">Play</a>
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10">
      <div class="sm:w-1/2 mb-10 px-4">
        <!--
          <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
        </div>
        -->
        <h2 class="text-center title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Infinite Bubble</h2>
        <p class="mb-3 leading-relaxed text-base">It never explodes, it can always grow. How much do you think it can grow?</p>
        <p class="mb-3 leading-relaxed text-base">In the Infinite Bubble to lose is impossible.</p>
        <p class="mb-3 leading-relaxed text-base">Winning only depends on an equation between time and quantity.</p>
        <p class="mb-3 leading-relaxed text-base">The higher the amount, the longer the time, but there is always someone with a bigger budget than you who is willing to
          earn more.</p>
        <div class="mt-5">
          <a href="https://play.bubblegame.io/bubble/infinite" class="mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Blow it up!</a>
        </div>
      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <!--
          <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div>
        -->
        <h2 class="text-center title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Random Bubble</h2>
        <p class="mb-3 leading-relaxed text-base">In the Random Bubble, losing is really bad luck, it's simulating an economic collapse.</p>
        <p class="mb-3 leading-relaxed text-base">When the bubble explodes, the economy is reactivated from zero, being the loser the last inversor.</p>
        <p class="mb-3 leading-relaxed text-base">The probability of losing being the game activate is really low, and even lower if the traffic is fluently.</p>
        <div class="mt-5">
          <a href="https://play.bubblegame.io/bubble/random" class="mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Blow it up!</a>
        </div>
      </div>
    </div>
  </div>
</section>
