 <section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
        <img class="" alt="Bubblegame"
            src="https://dummyimage.com/100x100">
        <div class="  lg:w-2/3 w-full">
            <h1 class="text-center title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"> Blow it up until it explodes </h1>
            <p class="mb-2 leading-relaxed"> Bubblegame es un juego multijugador en línea que consiste en crear la mayor burbuja económica posible. </p>
            <p class="mb-2 leading-relaxed"> Es divertido y emocionante, y si contribuyes a llegar al objetivo, GANAS EN EL CAMINO. </p>
            <div class="flex justify-center mt-8">
                <a href="https://play.bubblegame.io"
                    class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                    Blow up!
                </a>
                 
            </div>
        </div>
    </div>
</section>