<section class="text-gray-700 body-font">
    <a href="#" class="invisible" name="steps">Steps</a>
    <div class="container px-5 py-12 mx-auto">
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                <a href="https://play.bubblegame.io" class="w-full">
                    <img class="object-cover object-center mx-auto" alt="Bubblegame" loading="lazy" src="/svg/logo.svg" width="128" height="128">
                </a>
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Game Start</h2>
                <p class="leading-relaxed text-base">identify if you are capable to inflate the current bubble.</p>

            </div>
        </div>
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Blow it up!</h2>
                <p class="leading-relaxed text-base">Inflate it, now you just have to wait for the next player to inflate it.</p>

            </div>
            <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                <a href="https://play.bubblegame.io" class="w-full">
                    <img class="object-cover object-center mx-auto" alt="Bubblegame" loading="lazy" src="/svg/logo.svg" width="128" height="128">
                </a>
            </div>
        </div>
        <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
            <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                <a href="https://play.bubblegame.io" class="w-full">
                    <img class="object-cover object-center mx-auto" alt="Bubblegame" loading="lazy" src="/svg/logo.svg" width="128" height="128">
                </a>
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Win and repeat</h2>
                <p class="leading-relaxed text-base">If the bubble grows, you win, and you can repeat it as many times as you want.</p>

            </div>
        </div>

    </div>
</section>
