---
title: Blog
layout: default
---

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Blog</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Here we post relevant information about our platform.</p>
        </div>
        <div class="-my-8">
            {% for post in site.posts %}
            <article class="py-8 flex flex-wrap md:flex-no-wrap">
                <aside class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    {% for category in post.categories limit:1 %}
                    <span class="tracking-widest font-medium title-font text-gray-900 uppercase">{{ category }}</span>
                    {% endfor %}
                    <time datetime="{{ post.date }}" class="mt-1 text-gray-500 text-sm">{{ post.date | date: "%d %b %Y" }}</time>
                </aside>
                <div class="md:flex-grow">
                    <header>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ post.title }}</h2>
                    </header>
                    <main>
                        <p class="leading-relaxed">{{ post.excerpt }}</p>
                        <a href="{{ post.url }}" class="text-indigo-500 inline-flex items-center mt-4">Learn More
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </main>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
